<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.authority.mapper.WebsiteMapper">
    <insert id="addOrganization">
        insert into unity_organization (organization_id, organization_name, organization_avatar) values (#{organizationId},#{organizationName},#{organizationAvatar})
    </insert>
    <insert id="addDepartment" >
        insert into unity_department (department_id, organization_id, department_name) VALUES (#{departmentId},#{organizationId},#{departmentName})
    </insert>
    <insert id="addWebsite">
        insert into unity_website (website_id, department_id, website_url, website_name, website_logo) VALUES (#{websiteId},#{departmentId},#{websiteUrl},#{websiteName},#{websiteLogo})
    </insert>
    <insert id="insertApi">
        insert into unity_system_api (website_id, api_id, api_url, api_description, api_method,route_id,api_type) values
        <foreach collection="list" item="item" separator=",">
            (#{item.websiteId},#{item.apiId},#{item.apiUrl},#{item.apiDescription},#{item.apiMethod},#{item.routeId},#{item.apiType})
        </foreach>
    </insert>
    <insert id="insertRoute">
        insert into  unity_route_list (website_id, route_id, route_url, route_description) values
        <foreach collection="list" item="item" separator=",">
            (#{item.websiteId},#{item.routeId},#{item.routeUrl},#{item.routeDescription})
        </foreach>


    </insert>
    <update id="modifyWebsite">
        UPDATE unity_website
        <set>
            <if test="departmentId != null">department_id = #{departmentId},</if>
            <if test="websiteUrl != null">website_url = #{websiteUrl},</if>
            <if test="websiteName != null">website_name = #{websiteName},</if>
            <if test="websiteLogo != null">website_logo = #{websiteLogo},</if>
        </set>
        WHERE website_id = #{websiteId}
    </update>

    <delete id="deletePermisson">
        <if test="type=='api'">
            delete from unity_role_api where api_id=#{id}
        </if>
        <if test="type=='route'">
            delete from unity_route_list where route_id=#{id}
        </if>
    </delete>
    <delete id="deletePermissonRelation">
        <if test="type=='api'">
            delete from unity_system_api where api_id=#{id}
        </if>
        <if test="type=='route'">
            delete from unity_role_route where role_id=#{id}
        </if>
    </delete>
    <delete id="deleteWebsite">
        delete from unity_website where website_id=#{websiteId}
    </delete>
    <resultMap id="OrganizationMap" type="com.example.authority.pojo.OrganizationType">
        <id property="value" column="organization_id"/>
        <result property="label" column="organization_name"/>
        <collection property="children" javaType="java.util.List" ofType="com.example.authority.pojo.DepartmentType">
            <id property="value" column="department_id"/>
            <result property="label" column="department_name"/>
        </collection>
    </resultMap>

    <select id="getOrganization" resultMap="OrganizationMap">
        SELECT o.organization_id, o.organization_name, d.department_id, d.department_name
        FROM unity_organization o
                 LEFT JOIN unity_department d ON o.organization_id = d.organization_id
    </select>
    <select id="getWebsiteList" resultType="com.example.authority.pojo.pojoPlus.WebsitePlus">
        select  website_id,website_name,website_url,website_logo ,department_name from unity_website,unity_department WHERE
                unity_website.department_id IN (SELECT department_id FROM unity_user WHERE  username=#{id}) AND unity_website.department_id=unity_department.department_id

    </select>
    <select id="getApiList" resultType="com.example.authority.pojo.UnitySystemApi">
        SELECT  * from unity_system_api
    </select>
    <select id="getRouteList" resultType="com.example.authority.pojo.UnityRouteList">
        SELECT * FROM unity_route_list
    </select>
    <select id="websiteRouteNumber" resultType="java.lang.Integer">
        select count(*) FROM unity_route_list WHERE website_id=#{websiteId}
    </select>
    <select id="getWebsiteInfo" resultType="com.example.authority.pojo.Website">
        select  website_id,website_url,department_name,website_name from unity_website,unity_department where website_id=#{websiteId} AND unity_website.department_id=unity_department.department_id
    </select>
    <select id="websiteApiNumber" resultType="java.lang.Integer">
        select count(*) from unity_system_api where website_id=#{websiteId}
    </select>
    <select id="getApiListByMethodWebsiteId" resultType="com.example.authority.pojo.UnitySystemApi">
        SELECT  * from unity_system_api
        <where>
            <if test="method != 'null'">api_method=#{method}</if>
            <if test="websiteId != 'null'">AND website_id=#{websiteId}</if >
        </where>
    </select>
    <resultMap id="pageApiMap" type="com.example.authority.pojo.pojoPlus.WebsitePageApi">
        <id column="route_id" property="routeId" />
        <result column="website_id" property="websiteId" />
        <result column="route_url" property="routeUrl" />
        <result column="route_description" property="routeDescription" />
        <result column="api_count" property="apiCount" />
        <result property="pageApi" column="page_api" typeHandler="com.example.authority.handler.PageApiTypeHandler" />
    </resultMap>
    <select id="queryWebsitePageApi" resultMap="pageApiMap">
        SELECT routeList.*,pageApi.total AS api_count,pageApi.info AS page_api
        FROM unity_route_list AS routeList
                LEFT JOIN (
                SELECT
                    DISTINCT api.website_id,
                             api.route_id,
                             api_count.total AS total,
                             # 将一个站点页面的所有接口信息合并成一个json数组
                             CONCAT(
                                     '[',
                                     GROUP_CONCAT(
                                            # 站点页面接口信息对象
                                             JSON_OBJECT(
                                                     'websiteId',
                                                     api.website_id,
                                                     'apiId',
                                                     api.api_id,
                                                     'apiUrl',
                                                     api.api_url,
                                                     'apiDescription',
                                                     api.api_description,
                                                     'apiMethod',
                                                     api.api_method,
                                                     'apiType',
                                                     api.api_type
                                                 ) SEPARATOR ','
                                         ),
                                     ']'
                                 ) AS info
                FROM
                    unity_system_api AS api
                        LEFT JOIN (
                        # 查询站点页面包含的后端接口数量
                        SELECT
                            _api.website_id,
                            _api.route_id,
                            COUNT(1) AS total
                        FROM
                            unity_system_api AS _api
                        WHERE
                            _api.route_id IS NOT NULL
                        GROUP BY
                            _api.website_id,
                            _api.route_id
                    ) AS api_count ON api.website_id = api_count.website_id
                        AND api.route_id = api_count.route_id
                WHERE
                    api.website_id = #{websiteId}
                  AND api.route_id IS NOT NULL
                GROUP BY
                    api.website_id,
                    api.route_id,
                    total
            ) AS pageApi ON routeList.website_id = pageApi.website_id
                AND routeList.route_id = pageApi.route_id
        WHERE
            routeList.website_id = #{websiteId}
        GROUP BY
            routeList.website_id,
            routeList.route_id,
            routeList.route_url,
            routeList.route_description,
            pageApi.total,
            pageApi.info
    </select>
    <select id="queryWebsiteGlobalApi" resultType="com.example.authority.pojo.UnitySystemApi">
        SELECT * FROM unity_system_api
        WHERE website_id = #{websiteId} AND route_id IS NULL
    </select>


</mapper>