<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.authority.mapper.WebsiteMapper">
    <insert id="addOrganization">
        insert into unity_organization (organization_id, organization_name, organization_avatar) values (#{organizationId},#{organizationName},#{organizationAvatar})
    </insert>
    <insert id="addDepartment" >
        insert into unity_department (department_id, organization_id, department_name) VALUES (#{departmentId},#{organizationId},#{departmentName})
    </insert>
    <insert id="addWebsite">
        insert into unity_website (website_id, department_id, website_url, website_name, website_logo) VALUES (#{websiteId},#{departmentId},#{websiteUrl},#{websiteName},#{websiteLogo})
    </insert>
    <update id="modifyWebsite">
        UPDATE unity_website
        <set>
            <if test="departmentId != null">department_id = #{departmentId},</if>
            <if test="websiteUrl != null">website_url = #{websiteUrl},</if>
            <if test="websiteName != null">website_name = #{websiteName},</if>
            <if test="websiteLogo != null">website_logo = #{websiteLogo},</if>
        </set>
        WHERE website_id = #{websiteId}
    </update>
    <delete id="deletePermisson">
        <if test="type=='api'">
            delete from unity_role_api where api_id=#{id}
        </if>
        <if test="type=='route'">
            delete from unity_route_list where route_id=#{id}
        </if>
    </delete>
    <delete id="deletePermissonRelation">
        <if test="type=='api'">
            delete from unity_system_api where api_id=#{id}
        </if>
        <if test="type=='route'">
            delete from unity_role_route where role_id=#{id}
        </if>
    </delete>
    <resultMap id="OrganizationMap" type="com.example.authority.pojo.Organization">
        <id property="organizationId" column="organization_id"/>
        <result property="label" column="organization_name"/>
        <collection property="department" javaType="java.util.List" ofType="com.example.authority.pojo.Department">
            <id property="departmentId" column="department_id"/>
            <result property="departmentName" column="department_name"/>
        </collection>
    </resultMap>

    <select id="getOrganization" resultMap="OrganizationMap">
        SELECT o.organization_id, o.organization_name, d.department_id, d.department_name
        FROM unity_organization o
                 LEFT JOIN unity_department d ON o.organization_id = d.organization_id
    </select>
    <select id="OrganizationExist" resultType="java.lang.Boolean">
        select count(*) from unity_organization where  organization_id=#{organizationId}
    </select>
    <select id="DepartmentExist" resultType="java.lang.Boolean">
        select count(*) from unity_department where  department_name=#{key} OR department_id=#{key}
    </select>

</mapper>